* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333 !important;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

body {
  font-family: "SpoqaHanSansNeo-Regular";
  position: relative;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  font-size: 1.6rem;
}
header a:hover {
  color: #333 !important;
}
header a:focus {
  color: rgba(0, 0, 0, 0.55) !important;
}
header .nav-link {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
header .header-wrap {
  width: 79vw;
  margin: 0 auto;
}
@media (max-width: 1399px) {
  header .header-wrap {
    width: 90vw;
  }
}
header .header-wrap .logo {
  width: 165px;
  height: 60px;
  background: url("../public/img/logo.png") 50% 5%/contain no-repeat;
  cursor: pointer;
}
header .header-wrap .justify-content-end {
  justify-content: flex-start !important;
}
header .header-wrap .navbar-nav-scroll {
  overflow-y: visible;
  max-height: 100vh;
}
header .header-wrap .navbar-nav-scroll .nav-link {
  color: #333;
}
header .header-wrap .dropdown-a {
  font-size: 1.6rem;
}
header .header-wrap .dropdown-a:focus {
  background: #fff;
  color: #333;
}
header .header-wrap .me-2 {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: transparent;
  font-size: 1.6rem;
}
header .header-wrap .me-2:focus {
  box-shadow: none;
}
header .header-wrap .mb-3 {
  margin: 0 !important;
}
header .header-wrap .cartimg {
  width: 22px;
}
header .header-wrap .navbar-toggler:focus {
  box-shadow: none;
}

footer {
  width: 100%;
  background-color: #f6f6f6;
  color: #333;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 1.6rem;
}
@media (max-width: 575px) {
  footer {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
}
footer .container .row:first-child {
  padding: 30px 0;
}
footer .container .row:first-child a:hover {
  color: #333;
}
footer .container .row:first-child h3 {
  padding-bottom: 15px;
  font-weight: bold;
}
footer .container .row:first-child ul li {
  font-size: 1.4rem;
}
footer .container .row:first-child .col-md-6 {
  padding-bottom: 1rem;
}
footer .container .row:first-child .col-md-6 img {
  width: 150px;
  padding-bottom: 20px;
}
footer .container .row:first-child .col-md-6 ul {
  display: flex;
}
footer .container .row:first-child .col-md-6 ul li {
  font-size: 1.4rem;
  padding: 3px 0;
}
footer .container .row:first-child .col-md-6 ul li:not(:first-child) {
  padding: 3px 5px;
}
footer .container .row:first-child .customer {
  padding-bottom: 1rem;
}
footer .container .row:first-child .customer ul li {
  padding: 3px 0;
}
footer .container .row:first-child .community ul:nth-of-type(1) {
  float: left;
  padding-right: 30px;
}
footer .container .row:first-child .community ul li {
  padding: 2px 0;
}
footer .container .row .col-md-12 {
  text-align: center;
}
footer .container .row .col-md-12 p {
  padding-top: 25px;
}

.topbtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  font-size: 1.4rem;
  padding: 15px 13px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
}