@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.swiper1 {
  padding: 70px 0 80px 0;
}
.swiper1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper1 .swiper-button-prev,
.swiper1 .swiper-button-next {
  width: calc(var(--swiper-navigation-size) / 7 * 27) !important;
  color: #fff !important;
  position: absolute;
  top: 50%;
}
.swiper1 .swiper-button-prev:after,
.swiper1 .swiper-button-next:after {
  --swiper-navigation-size: 3rem !important;
}
.swiper1 .swiper-button-prev {
  left: 0 !important;
}
.swiper1 .swiper-button-next {
  right: 0 !important;
}

.hottem h2 {
  padding-bottom: 20px;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
}
.hottem .swiper2 {
  padding-bottom: 120px;
}
.hottem .swiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hottem .swiper2 .swiper-button-prev,
.hottem .swiper2 .swiper-button-next {
  width: 0 !important;
  position: absolute;
  top: 50%;
  color: #888;
}
.hottem .swiper2 .swiper-button-prev {
  left: 24.3% !important;
}
@media (max-width: 1199px) {
  .hottem .swiper2 .swiper-button-prev {
    left: 19.7% !important;
  }
}
@media (max-width: 767px) {
  .hottem .swiper2 .swiper-button-prev {
    display: none;
  }
}
.hottem .swiper2 .swiper-button-next {
  right: 24.3% !important;
}
@media (max-width: 1199px) {
  .hottem .swiper2 .swiper-button-next {
    right: 19.7% !important;
  }
}
@media (max-width: 767px) {
  .hottem .swiper2 .swiper-button-next {
    display: none;
  }
}
.hottem .swiper2 .swiper-button-prev:after,
.hottem .swiper2 .swiper-button-next:after {
  --swiper-navigation-size: 3rem !important;
}
.hottem .swiper2 .swiper-slide-prev {
  opacity: 0.3 !important;
}
@media (max-width: 767px) {
  .hottem .swiper2 .swiper-slide-prev {
    opacity: 1 !important;
  }
}
.hottem .swiper2 .swiper-slide-next {
  opacity: 0.3 !important;
}
@media (max-width: 767px) {
  .hottem .swiper2 .swiper-slide-next {
    opacity: 1 !important;
  }
}

.c1 img:hover {
  box-shadow: 1px 1px 10px #ccc;
  opacity: 0.5;
}

.imgbox {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.imgbox img {
  width: 100vw;
}

.btnbox {
  margin: 10px auto 30px;
  text-align: center;
}
.btnbox .btn-link {
  padding: 3px 10px;
  color: #f57c00;
  text-decoration: none;
  margin-right: 10px;
  border: 2px solid #f57c00;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 30px;
}
.btnbox .btn-link:hover {
  background-color: #f57c00;
  border: 2px solid #f57c00;
  color: #fff;
}
.btnbox .btn:focus {
  box-shadow: none;
}
.btnbox .btn-outline-primary {
  font-size: 1.6rem;
  border-radius: 30px;
}

.detailpage {
  max-width: 1280px;
  padding: 120px 0 80px;
  font-size: 1.6rem;
}
.detailpage .detailpage1 {
  padding-bottom: 5%;
  --bs-gutter-x:0 !important;
}
.detailpage .detailpage1 .col-md-6:nth-of-type(1) img {
  padding-bottom: 3%;
}
.detailpage .detailpage1 .col-md-6:nth-of-type(2) {
  padding: 0 60px 0 50px;
}
.detailpage .detailpage1 .col-md-6:nth-of-type(2) h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
.detailpage .detailpage1 .col-md-6:nth-of-type(2) .table > :not(caption) > * > * {
  box-shadow: none;
}
.detailpage .detailpage1 .col-md-6:nth-of-type(2) .table {
  margin: 5% 0 1% 0;
  font-family: "SUIT-Regular";
}
.detailpage .detailpage1 .col-md-6:nth-of-type(2) .table tr {
  height: 45px;
}
.detailpage .detailpage1 .col-md-6:nth-of-type(2) .table tr:nth-of-type(1) td {
  text-decoration: line-through;
}
.detailpage .detailpage1 .col-md-6:nth-of-type(2) .table tr:nth-of-type(2) td {
  font-weight: bold;
  color: #f57c00;
}
.detailpage .detailpage1 .col-md-6:nth-of-type(2) .table th {
  width: 100px;
  border-style: hidden;
  padding: 5px 0;
}
.detailpage .detailpage1 .col-md-6:nth-of-type(2) .table td {
  border-style: hidden;
}
.detailpage .detailpage1 .mb-3 {
  padding-bottom: 15px;
}
.detailpage .detailpage1 .mb-3 .form-label {
  font-weight: bold;
}
.detailpage .detailpage1 .mb-3 .form-select {
  height: 45px;
}
.detailpage .detailpage1 .mb-3 .form-select:focus {
  box-shadow: none;
  border: 1px solid #ccc;
}
.detailpage .detailpage1 hr {
  margin-bottom: 25px;
}
.detailpage .detailpage1 .detailbtnbox {
  margin: 0 auto;
  text-align: center;
}
.detailpage .detailpage1 .detailbtnbox .btn {
  width: 48.5%;
  height: 50px;
  font-size: 1.6rem;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
}
.detailpage .detailpage1 .detailbtnbox .btn:nth-of-type(1) {
  margin-right: 5px;
  color: #fff;
  background-color: #444;
}
.detailpage .detailpage1 .detailbtnbox .btn:nth-of-type(1):hover {
  opacity: 0.8;
}
.detailpage .detailpage1 .detailbtnbox .btn:nth-of-type(2) {
  background-color: #e9e9e9;
  border: 2px solid #e9e9e9;
}
.detailpage .detailpage1 .detailbtnbox .btn:nth-of-type(2):hover {
  opacity: 0.8;
}
.detailpage .detailpage1 .detailbtnbox .btn:focus {
  box-shadow: none;
}
.detailpage .detailpage1 .another {
  font-family: "SUIT-Regular";
  padding-top: 30px;
  margin: 0 auto;
}
.detailpage .detailpage1 .another img {
  width: 150px;
  padding-bottom: 10px;
}
@media (max-width: 1270px) {
  .detailpage .detailpage1 .another img {
    width: 12vw;
  }
}
@media (max-width: 767px) {
  .detailpage .detailpage1 .another img {
    width: 23vw;
  }
}
.detailpage .detailpage1 .another h4 {
  font-size: 1.3rem;
  font-weight: bold;
}
.detailpage .detailpage1 .another p {
  font-size: 14px;
}

.detailpage2 .nav-item {
  font-size: 1.6rem;
}
.detailpage2 .nav-item .nav-link {
  color: #333;
  padding: 0.5rem 3rem;
}
.detailpage2 .nav-item .active {
  background-color: #444;
  color: #fff;
  border: 1px solid #444;
}
.detailpage2 #uncontrolled-tab-example-tabpane-important h1 {
  padding-top: 30px;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}
.detailpage2 .money {
  padding-bottom: 20px;
}
.detailpage2 .money h3 {
  font-weight: bold;
}
.detailpage2 .money .table {
  font-family: "SUIT-Regular";
  border-collapse: collapse;
  border: 1px solid #eeeeee;
  border-left: none;
  border-right: none;
}
.detailpage2 .money .table tbody {
  height: 110px;
}
.detailpage2 .money .table tbody th {
  width: 130px;
  padding: 12px;
  background-color: #f9f9f9;
  font-size: 1.5rem;
}
.detailpage2 .money .table tbody td ul {
  padding: 7px;
}
.detailpage2 .money .table tbody td ul li {
  font-size: 1.4rem;
}
.detailpage2 .delivery {
  padding-bottom: 20px;
}
.detailpage2 .delivery h3 {
  font-weight: bold;
}
.detailpage2 .delivery .table {
  font-family: "SUIT-Regular";
  border-collapse: collapse;
  border: 1px solid #eeeeee;
  border-left: none;
  border-right: none;
}
.detailpage2 .delivery tbody {
  height: 50px;
}
.detailpage2 .delivery tbody tr:nth-of-type(5) td {
  padding: 12px 10px;
}
.detailpage2 .delivery tbody th {
  width: 130px;
  padding: 12px;
  background-color: #f9f9f9;
  font-size: 1.5rem;
}
.detailpage2 .delivery tbody td {
  font-size: 1.4rem;
  padding: 12px 0 0 10px;
}
.detailpage2 .change h3 {
  font-weight: bold;
}
.detailpage2 .change .table {
  font-family: "SUIT-Regular";
  border-collapse: collapse;
  border: 1px solid #eeeeee;
  border-left: none;
  border-right: none;
}
.detailpage2 .change .table th {
  width: 130px;
  padding: 12px;
  background-color: #f9f9f9;
  font-size: 1.5rem;
}
.detailpage2 .change .table td {
  font-size: 1.4rem;
  padding: 12px 10px;
}
.detailpage2 .change .table td ul:nth-of-type(1) {
  padding-bottom: 20px;
}
.detailpage2 .change .table td ul span {
  font-weight: bold;
  font-size: 1.45rem;
}
.detailpage2 .change .table td ul li:nth-of-type(1) {
  margin-top: 10px;
}
.detailpage2 .review h1 {
  padding: 30px 0 20px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.detailpage2 .review hr {
  margin-bottom: 50px;
}
.detailpage2 .review .container {
  padding: 0;
}
.detailpage2 .review .container .graphbox {
  justify-content: center;
  border: 1px solid #ccc;
  margin: 20px 0 50px;
  padding: 20px 0;
}
.detailpage2 .review .container .graphbox .col-lg-3 {
  width: 27rem;
  margin: 10px 0;
  position: relative;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(1) {
  text-align: center;
}
@media (min-width: 768px) {
  .detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(1) {
    border-right: 1px solid #ccc;
  }
}
@media (max-width: 767px) {
  .detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(1) {
    width: 90%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(1) p:nth-of-type(1) {
  font-size: 1.4rem;
  color: #888;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(1) p:nth-of-type(2) {
  font-size: 2rem;
  color: #ccc;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(1) p:nth-of-type(2) span {
  font-size: 2rem;
  color: #f57c00;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(1) p:nth-of-type(2) b {
  color: #333;
  font-weight: bold;
  font-size: 2.2rem;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(1) p:nth-of-type(3) {
  color: #ccc;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(1) p:nth-of-type(3) span {
  color: #333;
  font-weight: bold;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(1) button {
  padding: 7px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(2) {
  display: flex;
  justify-content: center;
  text-align: center;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(2) .allgraph {
  width: 40px;
  text-align: center;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(2) .allgraph .graygraph {
  width: 15px;
  height: 100px;
  margin: 0 auto;
  background-color: #ccc;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(2) .allgraph .graygraph .bkgraph {
  width: 15px;
  height: 100px;
  background-color: #444;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(2) .allgraph span:nth-of-type(1) {
  font-size: 1.4rem;
}
.detailpage2 .review .container .graphbox .col-lg-3:nth-of-type(2) .allgraph span:nth-of-type(2) {
  font-size: 1.3rem;
  color: #888;
}
.detailpage2 .review .container .row:nth-of-type(2) {
  border-top: 1px solid #ccc;
}
.detailpage2 .review .container .writereviewbox {
  padding: 20px 0 10px;
  border-bottom: 1px solid #ccc;
}
.detailpage2 .review .container .writereviewbox .writereview_left p:nth-of-type(1) {
  font-size: 1.3rem;
  color: #f57c00;
}
.detailpage2 .review .container .writereviewbox .writereview_left p:nth-of-type(2) {
  font-size: 1.3rem;
  color: #888;
}
.detailpage2 .review .container .writereviewbox .writereview_left p:nth-of-type(3) {
  font-size: 1.3rem;
  color: #888;
}
.detailpage2 .review .container .writereviewbox .col-8 {
  padding: 10px 0;
}
.detailpage2 .review .container .writereviewbox .col-8 p {
  font-size: 1.5rem;
}
.detailpage2 .review .container .btn-group-wrap {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}
.detailpage2 .review .container .btn-group-wrap .btn-group .btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #333;
  font-size: 1.4rem;
  border: none;
}
.detailpage2 .review .container .btn-group-wrap .btn-group .btn:focus {
  box-shadow: none;
}

#cart {
  width: 100%;
  padding: 130px 0 200px;
  font-size: 1.6rem;
  position: relative;
}
@media (max-width: 1399px) {
  #cart {
    max-width: 100vw;
  }
}
#cart h1 {
  padding-bottom: 30px;
  text-align: center;
  font-size: 2.6rem;
}
#cart .sortbtn {
  width: 100px;
  margin-top: 20px;
  padding: 5px 0;
  background-color: #444;
  color: #fff;
  border: none;
}
@media (min-width: 1000px) {
  #cart .sortbtn:hover {
    opacity: 0.85;
  }
}
#cart .cart-body {
  margin: 0 auto;
}
#cart .cart-body .cart-top p {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background-color: #f6f6f6;
  font-size: 1.4rem;
}
#cart .cart-body .cart-main {
  margin: 0 auto;
}
#cart .cart-body .cart-main .cart-left {
  padding-bottom: 50px;
}
#cart .cart-body .cart-main .cart-left .row-wrap {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}
@media (min-width: 768px) {
  #cart .cart-body .cart-main .cart-left .row-wrap {
    margin-right: 20px;
  }
}
#cart .cart-body .cart-main .cart-left .firstrow {
  position: relative;
  padding-bottom: 20px;
}
#cart .cart-body .cart-main .cart-left .firstrow .col-md-4 img {
  width: 90px;
}
#cart .cart-body .cart-main .cart-left .firstrow .col-md-4 input[type=checkbox] {
  margin: 20px;
}
@media (max-width: 474px) {
  #cart .cart-body .cart-main .cart-left .firstrow .col-md-4 input[type=checkbox] {
    margin: 10px;
  }
}
#cart .cart-body .cart-main .cart-left .firstrow .col-md-5 .name {
  font-size: 1.5rem;
}
#cart .cart-body .cart-main .cart-left .firstrow .col-md-5 .count {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
#cart .cart-body .cart-main .cart-left .firstrow .col-md-5 .delivery {
  font-size: 1.4rem;
  color: #888;
}
@media (max-width: 767px) {
  #cart .cart-body .cart-main .cart-left .firstrow .col-md-2 {
    display: none;
  }
}
#cart .cart-body .cart-main .cart-left .firstrow .col-md-2 p {
  font-size: 1.7rem;
}
@media (min-width: 768px) {
  #cart .cart-body .cart-main .cart-left .firstrow .col-md-2 p {
    text-align: right;
  }
}
@media (max-width: 767px) {
  #cart .cart-body .cart-main .cart-left .firstrow .col-md-2 p {
    text-align: center;
    padding-right: 9.3rem;
  }
}
@media (max-width: 575px) {
  #cart .cart-body .cart-main .cart-left .firstrow .col-md-2 p {
    padding-right: 18vw;
  }
}
#cart .cart-body .cart-main .cart-left .firstrow .col-md-1 .btn {
  width: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -2px;
  font-size: 1.7rem;
  color: #888;
  text-decoration: none;
}
@media (max-width: 767px) {
  #cart .cart-body .cart-main .cart-left .firstrow .col-md-1 .btn {
    right: 30px;
  }
}
#cart .cart-body .cart-main .cart-left .firstrow .col-md-1 .btn:focus {
  box-shadow: none;
}
#cart .cart-body .cart-main .cart-left .secondrow div .countbtn {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
}
#cart .cart-body .cart-main .cart-left .secondrow div input[type=text] {
  width: 50px;
  height: 30px;
  padding-bottom: 1px;
  border: 1px solid #ccc;
  text-align: center;
}
#cart .cart-body .cart-main .cart-right {
  min-height: 255px;
  max-height: 245px;
  padding: 30px 20px;
  border: 1px solid #333;
}
#cart .cart-body .cart-main .cart-right .row ul {
  display: flex;
  justify-content: space-between;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(1) h2 {
  padding: 10px 7.5px !important;
  font-size: 1.6rem;
  font-weight: bold;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(2) li {
  font-size: 1.4rem;
  padding-top: 10px;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(3) li {
  font-size: 1.4rem;
  padding: 10px 0;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(4) li {
  padding: 10px 0;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(4) li:nth-of-type(1) {
  font-size: 1.6rem;
  font-weight: bold;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(4) li:nth-of-type(2) {
  font-weight: bold;
  font-size: 1.7rem;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(4) li:nth-of-type(2) span {
  font-weight: normal;
  font-size: 1.5rem;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(5) {
  margin-top: 6.5rem;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(5) .btn {
  text-decoration: none;
  font-size: 1.7rem;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(5) .btn:nth-of-type(1) {
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: #444;
  color: #fff;
  border: 1px solid #444;
  border-radius: 30px;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(5) .btn:nth-of-type(2) {
  padding: 10px 0;
  background-color: #fff;
  color: #444;
  border: 1px solid #444;
  border-radius: 30px;
}
#cart .cart-body .cart-main .cart-right .row:nth-of-type(5) .btn:focus {
  box-shadow: none;
}
@media (min-width: 1000px) {
  #cart .cart-body .cart-main .cart-right .row:nth-of-type(5) .btn:hover {
    opacity: 0.85;
  }
}

#login {
  padding: 130px 0;
  font-size: 1.6rem;
  text-align: center;
}
@media (max-width: 575px) {
  #login {
    padding: 100px 0 30px;
  }
}
@media (max-width: 499px) {
  #login {
    padding: 100px 0 30px;
  }
}
#login .logintop {
  width: 450px;
  margin: 0 auto;
}
@media (max-width: 469px) {
  #login .logintop {
    width: 90vw;
  }
}
#login .logintop .nav-link {
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 40px;
}
#login .logintop .nav-link:hover {
  opacity: 0.8;
  border: 1px solid #333;
}
#login .logintop h1 {
  padding-top: 70px;
  font-size: 2.5rem;
}
#login .row * {
  margin: 0;
}
@media (max-width: 500px) {
  #login .row:nth-of-type(2) {
    width: 90vw;
    margin: 0 auto;
  }
}
#login .loginwrap {
  width: 450px;
  margin: 50px auto 70px;
  border-radius: 5px;
}
@media (max-width: 500px) {
  #login .loginwrap {
    width: 90vw;
  }
}
#login .loginwrap .mb-3 {
  margin-bottom: 0 !important;
}
#login .loginwrap .mb-3 .form-control {
  width: 450px;
  height: 50px;
  font-size: 1.6rem;
  margin: 0 auto;
}
#login .loginwrap .mb-3 .form-control:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}
@media (max-width: 500px) {
  #login .loginwrap .mb-3 .form-control {
    width: 85vw;
  }
}
#login .loginwrap .mb-3:nth-of-type(1) .form-control {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#login .loginwrap .mb-3:nth-of-type(1) .form-control::-moz-placeholder {
  color: #ccc;
}
#login .loginwrap .mb-3:nth-of-type(1) .form-control::placeholder {
  color: #ccc;
}
#login .loginwrap .mb-3:nth-of-type(2) .form-control {
  border-top: none;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#login .loginwrap .mb-3:nth-of-type(2) .form-control::-moz-placeholder {
  color: #ccc;
}
#login .loginwrap .mb-3:nth-of-type(2) .form-control::placeholder {
  color: #ccc;
}
#login .loginwrap .btn {
  width: 450px;
  height: 50px;
  margin: 20px 0;
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
#login .loginwrap .btn:focus {
  box-shadow: none;
}
@media (min-width: 800px) {
  #login .loginwrap .btn:hover {
    opacity: 0.8;
  }
}
@media (max-width: 500px) {
  #login .loginwrap .btn {
    width: 85vw;
  }
}
#login .loginwrap ul {
  display: flex;
  position: relative;
}
#login .loginwrap ul li:nth-of-type(1):after {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #ccc;
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 77px;
}
#login .loginwrap ul li:nth-of-type(2) {
  padding: 0 20px;
}
#login .loginwrap ul li:nth-of-type(3) {
  position: absolute;
  top: 0;
  right: 0;
}
#login .loginwrap ul li a {
  font-size: 1.4rem;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: all 0.5s;
}